@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Black+Ops+One&family=Lobster&family=Roboto:wght@300&family=Vina+Sans&display=swap');

/* root */
:root {
  --main-text-color: #333;
  --background-color: white;
  --primary-color:rgb(161, 255, 20);
}

body {
  /* background-color: var(--background-color); */
  background-image: url('/public/images/background1.jpg');
  font-family: 'Poppins', sans-serif;

}

/* home image section */
#home-landing {
  background-image: linear-gradient(45deg, #203450 13%, #5990B3 90%);
  width: 100%;
  height: 100vh !important;
}

.landing-image-container{
  background-color: rgba(255, 255, 255, 0.095);
  border-radius: 50%;
}

.landing-image{
  width: 100%;
}

/* landing paragraph */
.landing-side-paragraph{
  line-height: 90px;
}
.landing-side-paragraph span,.landing-side-paragraph b  {
  font-size: 150px;
  color: white;
  text-align: start;
  font-weight: 900;
  font-family: 'Bebas Neue', sans-serif;
}

.landing-side-paragraph b {
  color: var(--primary-color);
}

/* home image section ends */

/*---------------------------------------------------- Content section--------------------------------------- */


/* latest opportunities  */
.opp-slider,.company-slider{
  cursor: pointer;
}
.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.408);
  border: none;
  border-radius: 10px;
  color: var(--primary-color);
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 1;
}


.custom-prev-arrow {
  left: 0;
}

.custom-next-arrow {
  right: 0;
}


/*  */

.top-headings{
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: grey;
}


/* Company Slider */
.company-slider img{
  width: 150px;
  height: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 3/2;
}

/*  */

/* scrollbar */

/* resposnsive layout */
@media only screen and (min-width: 300px) and (max-width: 600px) {
  #home-landing {
    height: 50vh !important;
  }

  .landing-side-paragraph {
    line-height: 6vh;
    padding-top: 5%;
  }

  .landing-side-paragraph span,
  .landing-side-paragraph b {
    font-size: 10vh;
  }


  .company-slider img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 3/2;
  }
  
}